<div id="map-container">
  <div id="map-canvas"></div>
  <div id="slide-trip">
  	<div id="slide-location" class="tripinfo"></div>
  	<div id="slide-image" class="tripinfo">
  		<img class="img-thumbnail" src="" alt="">
  	</div>
	<div class="tripinfo">
		<div id="slide-startdate" class="left"></div>
		<div id="slide-enddate" class="left"></div>
	</div>
	<div id="slide-summary" class="tripinfo clear"></div>
	<div class="tripinfo">
		<a href="" id="slide-link">See Trip Details</a>
	</div>
  </div>
</div>


