<div id="map-container">
  <div id="map-canvas"></div>
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEVADe5zVle3NZ4idcj4le1cCDphYMO2E&callback=initMap"
async defer></script>

