/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import 'site.scss';
@import 'users.scss';
@import 'trips.scss';

body{
	//background: #e3e8ef;
	background: #f2f4f7;
	line-height: 1.4;
}
nav{
	height: 60px;
	background: #224159;
}
footer{
	height:40px;
	width:100%;
	background: #224159;
	color:#fff;
	text-align: center;
	position: fixed;
	bottom:0;
}
small{
	text-transform: uppercase;
}
.inlineBlock{
	display: inline-block;
}

.container{
	width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 100%;
}
nav a{
	color: #fff;
}
nav a:hover{
	color: #ddd;
}
.right{
	float:right;
}