// Place all the styles related to the site controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body, html{
	height: 100%;
}
#map-container{
	height: 95%;
}

#map-canvas{
	height: 100%;
	width: 100%;

}

#slide-trip{
	width:0;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background: #eff3f9;
	transition: 0.5s;
}
#slide-summary{
	min-height:100px;
	max-height: 200px;
	overflow: hidden;
    //white-space: nowrap;
    //text-overflow: ellipsis;
	border: 1px solid #666;

}
.tripinfo{
	width:75%;
	margin:0 auto;
	text-align: center;
}

.left{
	float:left;
}

.clear{
	clear:both;
}

