// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container{
	width: 80%;
    margin: 15px auto;
    text-align: center;
}
.hide{
	display: none;
}

.show-container{
	text-align:center;
	margin:0 auto;
	width:80%;

}

#activities{
	width:40%;
	margin-bottom: 100px;
}
#summary{
	width:50%;
	margin-bottom:100px;
	text-align: justify;
}
section{
	margin-top:50px;
	margin-bottom:100px;
}
.act-title{
	color:#464667;
}
.act-title:hover{
	cursor:pointer;
	text-decoration:underline;
}

#scrollbar-images{
	height:50px;
	width:50%;
	white-space: nowrap;
	overflow: scroll;
	margin:15px auto;
}
#scrollbar-images img{
	
	margin-left: 10px;
	//margin:15px 3px;
}
#scrollbar-images img:hover{
	cursor:pointer;
}
#main-image{
	height:400px;
}
.img-responsive{
	height:100%;
}
#closeout{
	float:right;
	color: #666;
}

#closeout:hover{
	color:#000;
	cursor: pointer;
}
.act-category{
	text-transform: capitalize;
}
#preview{
	padding: 25px;
    width: 40%;
    border: 1px ridge #668;
    min-height: 500px;
    box-shadow: 1px 2px 1px #888;
    text-align: left;
    background: #f9fbff;
    border-radius: 20px;
}
#addactivity{
	width: 55%;
    padding: 10px;
    line-height: 1.6;
}
.prevTitle{
	color:#8b95a5;
	text-decoration:underline;
}
.prevTitle:hover{
	color:#5c6370;
	cursor:pointer;
}
.desc{
	border: 1px solid #ccc;
    padding: 25px;
    border-radius: 10px;
    text-align: justify;
    font-size: 0.95rem;
    line-height: 1.4rem;
    background-color: #f2f5f9;
}
.rating{
	position:absolute;
    margin-left:-9999px;
    visibility:hidden;
}

input[type=radio] + label{
	border:2px solid #000;
	
}

input[type=radio]:checked + label{
	border: 2px solid #f00;
}
#js-activities-form{
	// border-left: 3px ridge #555;
 //    border-right: 3px ridge #555;
    padding: 15px;
    min-height: 100%;
}
.js-actlink{
	font-size:18px;
}
.js-actlink:hover{
	cursor:pointer;
}
.alert{
	width:100%;
	background: #f98b8b;
	text-align:center;
	height:40px;
	padding: 0;
	margin:0;
}
.underline{
	text-decoration:underline;
}
#form-summary{
	height:150px;
}
.form-group .btn-info { margin-right: 2.6vw; }
.form-group .btn-info:last-child { margin-right: 0; }
.description{
	height: 150px;
}
#activity-header{
	margin-bottom:25px;
}
#scrollbar-images{
	display: inline-block;
}
.scroll-btn{
	margin-top: -70px;
}
.half{
	margin-left:20px;
}
.textbox{
	height:150px;
}
.actBtn{
	margin-bottom:30px;
}