// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide{
	display: none;
}

.show-container{
	text-align:center;
	margin:0 auto;
	width:80%;
}

#activities{
	width:40%;
	margin-bottom: 100px;
}
#summary{
	width:50%;
	margin-bottom:100px;
}
section{
	margin-top:50px;
	margin-bottom:100px;
}
.act-title:hover{
	cursor:pointer;
	text-shadow: 2px 2px #000;
}

#scrollbar-images{
	height:50px;
}
#scrollbar-images img{
	border-radius: 100%;
	margin:15px 3px;
}
#scrollbar-images img:hover{
	cursor:pointer;
}
#main-image{
	height:400px;
}
.img-responsive{
	height:100%;
}
#closeout{
	float:right;
	color: #666;
}

#closeout:hover{
	color:#000;
	cursor: pointer;
}
.act-category{
	text-transform: capitalize;
}
#preview{

	width:40%;
	border: 1px solid black;
	min-height: 500px;
}
#addactivity{
	width:55%;
}
.prevTitle{
	color:#8b95a5;
	text-decoration:underline;
}
.prevTitle:hover{
	color:#5c6370;
	cursor:pointer;
}
.desc{
	border: 1px solid black;
}