// Place all the styles related to the trips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hide{
	display: none;
}

.show-container{
	text-align:center;
	margin:0 auto;
	width:80%;
}